.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grille responsive */
  gap: 50px; /* Espacement entre les cartes */
  padding: 40px;
  background: linear-gradient(to right, #bdcddd, #7b84fa); /* Dégradé de fond */
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

/* Image dans le coin inférieur droit */
.bottom-right-image {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.bottom-right-image:hover {
  transform: scale(1.1); /* Effet au survol */
}

/* Style des cartes */
.category-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 80%;
  max-width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-10px); /* Effet de survol */
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
  border: 2px solid #461ab5; /* Bordure au survol */
}

.category-name {
  font-size: 1.6em;
  font-weight: 700;
  color: #3498db;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.category-description {
  font-size: 1.1em;
  color: #7f8c8d;
  line-height: 1.6;
  margin-bottom: 15px;
}

.category-card:hover .category-name {
  color: #2980b9;
}

.category-card:hover .category-description {
  color: #34495e;
}

.category-card:active {
  transform: scale(0.98);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.category-name, .category-description {
  transition: background 0.3s ease, color 0.3s ease;
}
